{% extends 'myBakery/base.html' %}
{% block title %} About us
{% endblock title %}

{% block body %} 

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3" style="font-family: 'Atma'">Jake’s Cakes</h1>
      <p>Jake’s Cakest Pvt Ltd. is an Indian Online Cake Shop Company. We are provide online platform to the local bakery shop owner to sell their items online and also
      Customers can buy cakes from their favorite cake shop and buy their cake or give order to them. We are give home delivery service. 
      <p><a class="btn btn-sm btn-outline-secondary " href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Address, Gujarat</h2>
        <p>Panjarapole, Ahmedabad, Gujarat</p>
        <p><a class="btn btn-sm btn-outline-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Address, Gujarat</h2>
        <p>Inorbit Mall, Baroda, Gujarat </p>
        <p><a class="btn btn-sm btn-outline-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <p>Design and coded by......</p>
        <p class="text-muted"> @  Jaydip Solanki</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


{% endblock body %}


{% block js %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script>
// Find out the cart items from localStorage
if (localStorage.getItem('cart') === null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
</script>


{% endblock %}